.form {
  background: linear-gradient(#010101, #1515153d),
    url(../../assets/images/contact.webp);
    background-position: center center;
    background-size: cover;


  &__container {
    padding: 10%;
    color: var(--color-white);
    border-radius: 1rem;
    max-width: 96rem;
    margin-left: auto;
  }

  &__control {
    margin: 1.5rem;
    position: relative;

    & input,
    textarea,
    select {
      display: block;
      padding: 1.5rem;
      margin: 3rem 0;
      width: 100%;
      border: 1px solid transparent;

      &:focus {
        outline: 3px ridge var(--color-black);
        border-radius: 2rem;
      }
    }

    & label {
      padding: 0 1.5rem;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    & input:not(:placeholder-shown) ~ label,
    & textarea:not(:placeholder-shown) ~ label {
      //   color: var(--color-black);
      top: 100%;
      opacity: 1;
    }
  }
}
