.flex {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
}

.position-relative {
  position: relative;
}

.button{
  all: unset;
  display: block;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  background: var(--accent-color-2);
  margin-left: auto;
}