.accordion {
  border-bottom: 0.5px dashed var(--color-black);
}

.label {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.icon {
  font-size: 3rem;

  &-rotate {
    transform: rotate(45deg);
  }
}

.content {
  padding:.5rem 3rem;
  overflow: hidden;
  height: 0;

  &-show {
    height: 10rem;
  }
}
