* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

:root {
  font-size: clamp(30%, 62.5%, 75%);
  line-height: 1.7;

  --accent-color-1: #cbd3e2;
  --accent-color-2: #3a3c44;

  --color-white: #fcf7f8;
  --color-white-secondary: #bbb4b6;

  --color-black: #000000;

  --padding-space: 2rem;
}

html {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  font-size: 1.4rem;
  background: var(--color-white);
}

.container {
  padding: 2.5% 5%;

  @media (min-width: 64em) {
    & {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

span {
  display: inline-block;
  margin-top: 1.6rem;
}

h1,
h2 {
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 1.5rem;

  font-family: "Abhaya Libre", serif;
}

.heading {
  &-secondary {
    font-size: clamp(2.7rem, 3vw, 4rem);
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item {
  list-style: none;
  padding: 0 1rem;
}

::selection {
  color: var(--color-white);
  background: var(--color-black);
}

@mixin invert {
  background: var(--color-white);
  color: var(--color-black);
}
